# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.auto.tfvars
terraform.tfvars
.terraform/
.terraform.lock.hcl
tfplan

# Remote state
remote-state/*.tfstate
remote-state/*.tfstate.*
remote-state/*.tfvars

# Sensitive files
**/terraform.tfvars
secrets.tf
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~
.DS_Store