version: v1.0
modules:
  - name: m_backbone
    services:
      - zookeeper-v2
      - kafka-v2
      - kafka-connect
      - kafka-connect-restart-tasks
      - elasticsearch-data-v1
      - elasticsearch-master-v1
      - kibana-v1
  - name: authn-authz
    services:
      - redis
      - nginx-ingress
      - cert-manager
      - zuul:v1.3.1-96b24b0d72-39
  - name: core
    dependencies:
      - "backbone"
      - "authn-authz"
      - "frontend"
    services:
      - egovio/egov-accesscontrol:v1.1.3-72f8a8f87b-24
      - egovio/egov-enc-service:v1.1.2-72f8a8f87b-9
      - egovio/egov-filestore:v1.2.4-72f8a8f87b-10
      - egovio/egov-localization:v1.1.3-72f8a8f87b-6
      - egovio/egov-idgen:v1.2.3-72f8a8f87b-7
      - egovio/egov-indexer:v1.1.7-f52184e6ba-25
      - egovio/egov-location:v1.1.4-72f8a8f87b-6
      - egovio/egov-mdms-service:v1.3.2-72f8a8f87b-12
      - egovio/egov-notification-mail:v1.1.2-72f8a8f87b-12
      - egovio/egov-notification-sms:v1.1.3-48a03ad7bb-10
      - egovio/egov-otp:v1.2.2-72f8a8f87b-12
      - egovio/egov-persister:v1.1.4-72f8a8f87b-6
      - egovio/egov-searcher:v1.1.5-72f8a8f87b-16
      - egovio/egov-url-shortening:v1.1.2-1715164454-3
      - egovio/egov-user:v1.2.7-cc363f0584-12
      - egovio/user-otp:v1.1.5-1715164454-3
      - egovio/egov-workflow-v2:v1.2.1-df98ec3c35-2
      - egovio/report:v1.3.4-96b24b0d72-16
      - egovio/egov-document-uploader:v1.1.0-75d461a4d2-4
      - egovio/playground:1.0
  - name: business
    dependencies:
      - "core"
    services:
      - egovio/collection-services:v1.1.6-c856353983-29
      - egovio/billing-service:v1.3.4-72f8a8f87b-39
      - egovio/egf-instrument:v1.1.4-72f8a8f87b-4
      - egovio/egf-master:v1.1.3-72f8a8f87b-15
      - egovio/egov-apportion-service:v1.1.5-72f8a8f87b-5
      - egovio/egov-hrms:v1.2.5-1715164454-6
  - name: utilities
    dependencies:
      - "core"
    services:
      - egovio/egov-custom-consumer:v1.1.1-72f8a8f87b-3
      - egovio/egov-pdf:v1.1.2-344ffc814a-37
  - name: "frontend"
    dependencies:
      - "business"
    services:
      - egovio/citizen:v1.8.0-b078fa041d-97
      - egovio/employee:v1.8.0-2ac8314b2f-116
      - egovio/digit-ui:v1.5.0-dc44c10a7b-739
  - name: m_pgr             #PGR
    dependencies:
      - "core"
      - "business"
    services:
      - egovio/pgr-services-db:pgr-quickstart-86837e0a85-35
      - egovio/rainmaker-pgr:v1.1.4-48a03ad7bb-4
  - name: m_property-tax    #PT
    dependencies:
      - "core"
      - "business"
    services:
      - egovio/property-services:v1.1.8-50fadd72a1-37
      - egovio/pt-calculator-v2:v1.1.5-96b24b0d72-12
      - egovio/pt-services-v2:v1.0.0-48a03ad7bb-4
  - name: m_dss   #dss
    dependencies:
      - "frontend"
      - "core"
      - "business"
    services:
      - egovio/dashboard-analytics:v1.1.7-1ffb5fa2fd-49
      - egovio/dashboard-ingest:v1.1.4-72f8a8f87b-10
      - egovio/dss-dashboard:v1.8.0-0d70d60e63-53
  - name: m_fsm   #fsm
    dependencies:
      - "core"
      - "business"
    services:
      - egovio/fsm:v1.1.0-2c66d3550a-45
      - egovio/fsm-calculator:v1.1.0-2c66d3550a-2
      - egovio/vehicle:v1.1.0-2c66d3550a-31
      - egovio/vendor:v1.1.0-2c66d3550a-9
  - name: Other
    dependencies:
      - "core"
      - "business"
    services:
      - egovio/egov-user-event:v1.2.0-c1e1e8ce24-21
      - egovio/inbox:v1.1.1-a9e95f948f-75
      - egovio/turn-io-adapter:v1.0.1-96b24b0d72-5
  - name: health
    dependencies:
      - "backbone"
      - "authn-authz"
      - "core"
    services:
      - egovio/product:hlm-699-product-variant-a0355eb4b3-4
      - egovio/project:hlm-700-project-staff-0530ca8bec-4